@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}


.wrapper{
  width: 100vw;
  height: 45vh;
  background-color: #191c32;
  color: #ffff;
}

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.brand{
  margin-top: -7px;
}

.brand span{
 color: aqua;
}

.menu{
  display: flex;
  width: 50%;
}

.menu li{
  list-style: none;
}

.menu a{
  color: #ffff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.menu .active {
  color: aqua;
}

.menu a:hover{
  background-color: aqua;
  color: #191c32;
  transition: ease-in .4s;
}

#toggler,
.navbar label{
  display: none;
}

@media screen and (max-width: 800px) {
  .list {
      width: 100%;
      max-height: 0;
      overflow: hidden;
  }
  .menu {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 150px;
  }
   .navbar label {
      display: flex;
      align-items:center;
      cursor: pointer;
      font-size: 1.5em;
      margin-top: -8px;      
  }
  .navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  #toggler:checked ~ .list {
      max-height: 100%;
  }
}

h1{
  font-size: clamp(4vw, 1.5em, 3em);
}


span{
  color: aqua;
}


.divider{
  height: 4px;
  width: 60px;
  background-color: aqua;
  margin-top: 10px;
  margin-bottom: 2em;
}



.portafolio-headings,
.contact-headings{
  width: 100vw;
  padding: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portafolio-headings h2{
  font-size: 2.5em;
}

main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-content: flex-start;
    align-content: center;
}


footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 150px;
  background-color: #191c32;
  color: #ffff;
}

.footer-content h2{
  font-size: 2em;
  text-align: center;
}

.footer-content h5{
  font-size: 1em;
  text-align: center;
}

.footer-content h3{
  font-size: .8em;
  text-align: center;
  text-decoration: s;
}

.sotial-networks{
  display: flex;
  width: 300px;
  justify-content: space-evenly;
  margin-top: 1em;
}

.sotial-networks i{
font-size: 1.2em;
}



/*Experiencia logos*/

.experiencia{
    padding: 5em;
}

.experiencia h3{
  font-size: 30px;
}

.container__c {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95vw;
  gap: 10px;
  margin-top: 0.2em;
  flex-wrap: wrap;
}

.box {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  background-color: #fff;
  animation: updown 2s infinite ease-in-out;

}

@keyframes updown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}


#html {
  background-color: #f06529;
  color: #fff;
}

#css {
  background-color: #2965f1;
  color: #fff;
}

#javascript {
  background-color: #f0db4f;
  color: #323330;
}

#react {
  background-color: #61dafb;
  color: #282c34;
}

#bootstrap {
  background-color: #7952b3;
  color: #fff;
}

#sass {
  background-color: #cc6699;
  color: #fff;
}

#nodejs {
  background-color: #68A063;
  color: #fff;
}

#git {
  background-color: #F05032;
  color: #fff;
}

.box i {
  font-size: 40px;
}

@media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
    .box {
      margin-bottom: 10px;
    }
}